

* {
  color: #979797;
  background-color: #212121;
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
}

button {
  color: #212121;
  background-color: #b478e6;
  border: 0;
  border-radius: 4px;
}

  .icon-minus {
    width: 1rem;
    height: 0.75rem;
    background-color: #b478e6;
  }

p {
  color: #212121;
  background-color: #00dede;
  border: 0;
  border-radius: 4px;
  margin: auto;
}

input, select {
  color: #a0a0a0;
  background-color: #2e2e2e;
  border: 0;
  border-radius: 4px;
  border-bottom: 2px solid #b478e6;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: minmax(2em, auto);
  gap: 1em;
}

.header {
  grid-row: 1;
}

.generate-button {
  grid-column: 4 / 8;
  grid-row: 2;
}

.copyTextMessage {
  grid-column: 8 / 11;
  grid-row: 2;
  margin: auto;
}

.icon-brightness-contrast {
  grid-column: 10;
  grid-row: 2;
  width: 1.25rem;
  height: 1.25rem;
  fill: #00dede;
}

.member {
  display: grid;

  grid-column: 3 / 9;
  grid-row: 3;

  grid-template-columns: subgrid;
  grid-auto-rows: minmax(1fr, auto);
  gap: 1em;
}

  .name {
    grid-column: 1;
  }
  .value {
    grid-column: 2;
  }
  .value-type {
    grid-column: 3;
  }
  .remove-member {
    grid-column: 4;
  }

.add-button {
  grid-column: 4 / 8;
  grid-row: 4;
}

.json-box {
  grid-column: 3 / 9;
  grid-row: 5;
}

.footer {
  grid-column: 3 / 9;
  grid-row: 6;
  text-align: center;
}